<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/form1.css">
</head>

<body>
    <header class="main-header">
        <div class="top-bar">
            <div class="encabezado">
                <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a>

                <form action="" method="get" class="search-bar">
                    <input type="search" placeholder="Buscar producto..." id="search">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <h3 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar icon-header"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h3>
        </div>

        <a href="" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card icon-header"></i> </li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket icon-header"></i> </li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping icon-header"></i> </li>
            </ul>
        </nav>

    </header>

    <main>
        <form action="/crear-producto" method="POST" class="create-form">
            <h1>Buscá tu producto:</h1>
            
            <div class="control-del-formulario">
                <label for="product-name">Nombre del producto:</label>
                <input type="text" name="Nombre" class="control" id="product-name" placeholder="Producto">
            </div>
            <div class="control-del-formulario">
                <label for="price">Precio:</label>
                <input type="text" name="Precio" class="control" id="price" placeholder="Precio">
            </div>
            <div class="control-del-formulario">
                <label for="cat">Categoria:</label>
                <select name="categoria" class="control" id="cat">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electro</option>
                    <option value="indumentaria">Indumentaria</option>
                </select>
            </div>
            <div class="control-del-formulario">
                <label for="city">Provincia:</label>
                <select name="ciudad" class="control" id="city">
                    <option value="baires">Buenos Aires</option>
                    <option value="caba">Ciudad Autonoma de Buenos Aires</option>
                    <option value="catamarca">Catamarca</option>
                    <option value="chaco">Chaco</option>
                    <option value="chubur">Chubut</option>
                    <option value="cordoba">Cordoba</option>
                    <option value="corrientes">Corrientes</option>
                    <option value="entre-rios">Entre Ríos</option>
                    <option value="formosa">Formosa</option>
                    <option value="jujuy">Jujuy</option>
                    <option value="pampa">La Pampa</option>
                    <option value="rioja">La Rioja</option>
                    <option value="mendoza">Mendoza</option>
                    <option value="misiones">Misiones</option>
                    <option value="neuquen">Neuquén</option>
                    <option value="rio-negro">Rio Negro</option>
                    <option value="salta">Salta</option>
                    <option value="san-juan">San Juan</option>
                    <option value="san-luis">San Luis</option>
                    <option value="santa-cruz">Santa Cruz</option>
                    <option value="santa-fe">Santa Fe</option>
                    <option value="sgo-estero">Santiago del Estero</option>
                    <option value="tierra-fuego">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
                    <option value="tucuman">Tucumán</option>
                </select>
            </div>
            <div class="control-del-formulario">
                <label for="description">Descripción:</label>
                <textarea name="descripcion" class="control" id="description" placeholder="Describa el producto"></textarea>
            </div>
            <div class="control-del-formulario">
                <label for="offer">Está en oferta:</label>
                <input type="radio" name="Oferta" id="offer">
            </div>
            <button type="reset" class="button-form">Borrar</button>
            <button type="submit" class="button-form">Guardar</button>


        </form>
    </main>

    <footer>
        <article class="footer">

            <div class="footer-box">
                <div class="icon-container">
                    <i class="fa-solid fa-credit-card icon-footer"></i>
                </div>
                <h3>Pagá con tarjeta o en efectivo</h3>


                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </div>

            <div class="footer-box">
                <div class="icon-container">
                    <i class="fa-solid fa-gift icon-footer"></i>
                </div>
                <h3>Envío gratis desde $ 2.500</h3>

                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>

            <div class="footer-box">
                <div class="icon-container">
                    <i class="fa-solid fa-user-shield icon-footer"></i>
                </div>
                <h3>Seguridad, de principio a fin</h3>

                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>

        </article>

        <p class="copyright">Copyright © 1999-2020 <a href="#">MercadoLiebre</a> S.R.L.</p>
    </footer>
</body>

</html>