<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>

    <header class="main-header">
        <div class="top-bar">
            <img src="/images/logo-mercado-liebre.svg" class="logo">

            <p class="">
                <input type="search" placeholder="buscar..."><i class="fa-solid fa-magnifying-glass"></i>
            </p>

            <h3 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar icon-header"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h3>
        </div>

        <a href="" class="burger-menu">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta</a> <i class="fa-regular fa-id-card icon-header"></i> </li>
                <li><a href="/login">Ingresá</a> <i class="fa-solid fa-right-to-bracket icon-header"></i> </li>
                <li><a href="#">Mis compras</a> <i class="fa-solid fa-basket-shopping icon-header"></i> </li>
            </ul>
        </nav>

    </header>
    <main>
        <a href="#">
            <img src="/images/img-home-banner.jpg" class="banner">
        </a>
        <div class="main-sinBanner">

            <h2>Basado en tu última visita</h2>
            <div class="all-products">
                <div class="product">
                    <img src="/images/img-cafetera-moulinex.jpg" class="img-main" alt="Cafetera Moulinex">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <p class="product-name">Cafetera Moulinex</p>
                    </div>
                </div>

                <div class="product">
                    <img src="/images/img-macbook-pro-2019.jpg" class="img-main" alt="Macbook">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="product-name">MacBook Pro 2019</p>
                    </div>
                </div>

                <div class="product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="img-main" alt="Galaxy S10">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="product-name">Samsung Galaxy S10</p>
                    </div>
                </div>

                <div class="product">
                    <img src="/images/img-tv-samsung-smart.jpg" class="img-main" alt="Smart Tv">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="product-name">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>
            <h2>Ofertas</h2>
            <div class="all-products">
                <div class="product">
                    <img src="/images/img-cafetera-moulinex.jpg" class="img-main" alt="Cafetera Moulinex">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <p class="product-name">Cafetera Moulinex</p>
                    </div>
                </div>

                <div class="product">
                    <img src="/images/img-macbook-pro-2019.jpg" class="img-main" alt="Macbook">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <p class="product-name">MacBook Pro 2019</p>
                    </div>
                </div>

                <div class="product">
                    <img src="/images/img-samsung-galaxy-s10.jpg" class="img-main" alt="Galaxy S10">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <p class="product-name">Samsung Galaxy S10</p>
                    </div>
                </div>

                <div class="product">
                    <img src="/images/img-tv-samsung-smart.jpg" class="img-main" alt="Smart Tv">
                    <div class="caja-descrip">
                        <i class="fa-solid fa-truck delivery-icon"></i>
                        <div class="price-discount">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <p class="product-name">SmartTv Samsung 43"</p>
                    </div>
                </div>
            </div>
        </div>

    </main>
    <footer align="center">

        <div class="icon-container">
            <i class="fa-solid fa-credit-card icon-footer"></i>
        </div>
        <h3>Pagá con tarjeta o en efectivo</h3>


        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>

        <div class="icon-container">
            <i class="fa-solid fa-gift icon-footer"></i>
        </div>
        <h3>Envío gratis desde $ 2.500</h3>

        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>

        <div class="icon-container">
            <i class="fa-solid fa-user-shield icon-footer"></i>
        </div>
        <h3>Seguridad, de principio a fin</h3>

        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>

        <br>
        <p align="left">Copyright © 1999-2020 <a href="#">MercadoLiebre</a> S.R.L.</p>

    </footer>

</body>

</html>