* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-header { /* Esto deja fijo el header, y se debe aplicar margin-top al formulario */
    position: fixed;
    top: 0;
}

.copy-header {
    text-align: left;
}

.create-form {
    padding: 20px 15px;
    margin-top: 240px;
}

.control-del-formulario {
    margin-bottom: 15px;
}

.control-del-formulario label {
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}

.control {
    width: 80%;
    padding: 8px;
}

.button-form {
    background-color: var(--color-verde);
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px ;
}

@media (min-width: 1200px) {
    .control {
        width: 20%;
        padding: 8px;
    }

    .main-header {
        position: static;
    }

    .create-form {
        padding: 20px 15px;
        margin-top: 0;
    }

    * {
        text-align: center;
    }

    .control-del-formulario input[type="text"]{
        text-align: left;
    }

    .control-del-formulario textarea {
        text-align: left;
    }
}