* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-amarillo: #EAC926;
    --color-azul: #03264C;
    --color-celeste: #1259C3;
    --color-gris-oscuro: #666;
    --color-gris-claro: #EBEBEB;
    --color-verde: #39B54A;
}

/* todo el header */
.main-header {
    background-color: var(--color-amarillo);
    padding: 20px;
}

.logo {
    width: 100px;
}

.banner {
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}

/* "compra en cuotas" */
.copy-header {
    font-weight: 400;
    text-align: center;
}

body {
    background-color: var(--color-gris-claro);
    font-family: 'Roboto';
    font-size: 12px;
}

.burger-menu {
    background-color: var(--color-azul);
    color: #ffffff;
    display: block;
    max-width: 40px;
    padding: 10px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
    margin-top: 10%;
}

/* 2da barra del header. desde ofertas hasta mis compras */
.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 3px 0;
    font-size: 14px;
}

.price-discount {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.price {
    font-size: 18px;
    flex: 0.3;
    margin-right: 5px;
}

.discount {
    font-size: 16px;
    color: var(--color-amarillo);
    flex: 0.7;
}

.product-name {
    font-size: 16px;
    margin-top: 5%;
    color: var(--color-gris-oscuro);
    display: none;
}

.icon-header {
    font-size: 1.5em;
}

.main-sinBanner {
    width: 90%;
    margin: auto;
    justify-content: center;
}

.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product {
    background-color: white;
    width: 18rem;
    height: 23rem;
    margin: 10px;
}

h2 {
    margin: 10px;
    color: var(--color-gris-oscuro)
}

.caja-descrip {
    border-top: 1px solid #ebebeb;
    padding: 15px;
    position: relative;
}

.caja-descrip>.delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

.img-main {
    width: 90%;
}

.icon-footer {
    font-size: 2em;
}

.icon-container {
    margin-bottom: 10px;
}

@media (min-width: 361px) {

    .product-name {
        display: block;
    }

    .product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 700px) {
    .top-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fa-magnifying-glass {
        border: solid var(--color-gris-oscuro) 1px;
        font-size: 11px;
        margin-left: 2px;
        background-color: var(--color-gris-claro);
        padding: 2px;
    }

    .copy-header {
        max-width: 150px;
        text-align: right;
    }

    .burger-menu {
        display: none;
    }

    .main-navbar {
        display: flex;
        justify-content: space-between;
        margin-top: 0.5rem;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 0 5px;
    }
}

@media (min-width: 1200px) {

    .top-bar,
    .main-navbar {
        max-width: 1200px;
        margin: auto;
    }

    .logo {
        width: 200px;
    }

    .top-bar {
        align-items: center;
    }

    .copy-header {
        max-width: none;
        font-size: 18px;
        font-weight: 400px;
    }

    .main-navbar {
        margin-top: 30px;
    }

    .main-navbar li {
        margin: 0 10px;
    }

    .main-navbar a {
        font-size: 18px;
    }
}